.container {
    display: flex;
    justify-content: flex-start; /* Align links to the left */
    align-items: center; /* Align products to the center */
}
.sidebar {
    border-radius: 5px;
    margin-top: 10px;
    width: auto;
    min-width: 300px;
    text-align: left;
    height: 300px;
    padding: 10px;
    background-color: #f1f1f1;
}
.main {
    flex: 1; /* Set the width of the main content */
    padding: 10px;
    background-color: #ffffff;

}
#linkit {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#tuotteet {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 16px;

}tr:nth-child(even) {
    background-color: #f2f2f2
}
h3 {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
header {
    background-color: #47b9f6;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
button {
    background-color: #47b9f6;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 150px;
    background-color: #f1f1f1;
}


